.expense-card {
  align-items: center;
  background: $medium-navy;
  border-radius: rem(6);
  display: flex;
  overflow: hidden;
  padding: rem(16);
  position: relative;
  width: 100%;

  &__head {
    flex: 1;
  }

  &__body {
    align-items: stretch;
    display: flex;
    text-align: center;
  }

  &__name {
    font-size: rem(24);
    font-weight: 500;
  }

  &__balance {
    font-size: rem(18);
  }

  &__notes {
    font-size: rem(14);
    margin-top: rem(8);
  }

  &__paid-status {
    align-items: center;
    display: flex;
    width: rem(80);
  }

  &__action-btns {
    align-items: center;
    border-left: rem(1) solid $xlight-navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: rem(12);
    padding-left: rem(12);

    & > button {
      background: transparent;
      border-radius: 50%;
      height: rem(32);
      min-height: auto;
      padding: 0;
      width: rem(32);

      &:hover,
      &:focus {
        background: $xlight-navy;
      }

      svg {
        height: rem(16);
        width: rem(16);

        path {
          fill: $white;
        }
      }
    }

    & > * + * {
      margin-top: rem(8);
    }
  }

  &.is-overdue {
    background: $red-500;
    color: $white;

    .expense-card__action-btns {
      border-left-color: $red-900;

      button:hover {
        background: $red-600;
      }
    }
  }
}
