.expense-card {
  background: lighten($blue-gray-50, 2%);
  border-radius: rem(4);
  display: flex;
  padding: rem(16);
  width: 100%;

  &__head {
    flex: 1;
  }

  &__body {
    align-items: stretch;
    display: flex;
    text-align: center;
  }

  &__name {
    color: $indigo-800;
    font-size: rem(24);
    font-weight: 500;
  }

  &__balance {
    color: $gray-900;
    font-size: rem(18);
  }

  &__notes {
    color: $blue-gray-700;
    font-size: rem(14);
    margin-top: rem(8);
  }

  &__chevron-icon {
    align-items: center;
    display: flex;

    svg {
      path {
        fill: $blue-gray-900;
      }
    }
  }

  &__paid-status {
    align-items: center;
    display: flex;
    width: rem(80);
  }

  &__action-btns {
    align-items: center;
    border-left: rem(1) solid $blue-gray-300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: rem(12);
    padding-left: rem(12);

    & > button {
      background: transparent;
      border-radius: 50%;
      height: rem(32);
      min-height: auto;
      padding: 0;
      width: rem(32);

      &:hover,
      &:focus {
        background: darken($blue-gray-100, 1%);
      }

      svg {
        height: rem(16);
        width: rem(16);

        path {
          fill: $blue-gray-700;
        }
      }
    }

    & > * + * {
      margin-top: rem(8);
    }
  }

  &.is-overdue {
    box-shadow: inset 0 0 0 rem(1.5) $red-700;

    .expense-card__name,
    .expense-card__balance {
      color: $red-700;
    }
  }
}
