.login {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  color: $white;

  &__form {
    background: $indigo-500;
    border-radius: rem(8);
    //box-shadow: 0 0 rem(45) darken($indigo-900, 3%);
    overflow: hidden;
    width: rem(300);
  }

  &__error {
    background: darken($red-50, 2%);
    color: $red-800;
    font-weight: 700;
    margin-bottom: rem(10);
    padding: rem(10);
  }

  &__title {
    background: no-repeat $black center 20px/70px
      url('/static/images/budget.png');
    color: $white;
    font-size: rem(24);
    font-weight: 600;
    padding: rem(90 20 20);
  }

  &__fields {
    margin: rem(0);
    padding: rem(20);

    & > * + * {
      margin-top: rem(10);
    }

    & > :last-child {
      margin-top: rem(24);
    }
  }

  @media (min-width: $breakpoint-medium) {
    &__form {
      width: rem(350);
    }
  }
}
