.expense-group-form {
  padding-bottom: rem(20);

  &__title {
    color: $indigo-800;
    font-size: rem(25);
    font-weight: 600;
    margin-bottom: rem(30);
  }

  &__form-fields {
    margin: rem(0 0 32);

    & > * + * {
      margin-top: rem(12);
    }

    & > * > * {
      padding: 0;
    }
  }

  fieldset {
    border-bottom: rem(1) solid $blue-gray-100;
  }

  legend {
    font-size: rem(20);
    margin-bottom: rem(16);
  }
}
