.expense-group-form {
  &__title {
    color: $indigo-800;
    font-size: rem(25);
    font-weight: 600;
    margin-bottom: rem(30);
  }

  &__form-fields {
    margin: rem(0);

    & > * + * {
      margin-top: rem(16);
    }

    & > * > * {
      padding: 0;
    }
  }
}
