.expense-group-form {
  margin: 0 auto;
  max-width: rem(768);
  padding-bottom: rem(20);

  &__title {
    color: $indigo-800;
    font-size: rem(25);
    font-weight: 600;
    margin-bottom: rem(20);
  }

  &__form-fields {
    width: 100%;

    &:not(:first-of-type) {
      margin-top: rem(30);
    }

    & > * + * {
      margin-top: rem(12);
    }
  }

  &__fieldset__content {
    border: rem(1) solid $blue-gray-100;
    border-left: rem(3) solid $indigo-500;
    margin-bottom: rem(32);
    padding: rem(16);
  }

  legend {
    background: $indigo-800;
    font-size: rem(20);
    margin-bottom: rem(8);
    margin-left: rem(-6);
    padding: rem(6);
  }
}
