.brand-logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    g {
      fill: $cyan-400;
    }
  }

  &__text {
    font-size: rem(35);
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', Arial, Helvetica, sans-serif;
  }
}
