$heroBg: darken($indigo-900, 8%);

.expense-group-summary-hero {
  background: darken($dark-navy, 3%);
  color: $white;
  display: flex;
  justify-content: center;
  padding: rem(20);
  text-decoration: none;
  transition: background 0.2s linear;

  &:focus {
    box-shadow: 0 0 0 rem(2) $xlight-navy;
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: rem(1168);
    flex: 1;
  }

  &__footer {
    margin-left: rem(16);
  }

  &__title {
    align-items: flex-end;
    color: $yellow;
    display: flex;
    font-size: rem(16);
    font-weight: 500;
  }

  &__title__icon {
    fill: $xlight-navy;
    margin-right: rem(8);
    width: rem(34);

    .is-today {
      fill: $yellow;
    }
  }

  &__subtitle {
    font-size: rem(24);
    font-weight: 500;
  }

  &__balance {
    font-size: rem(16);
  }

  &__overdue-tag {
    align-items: center;
    background: $red-500;
    border-radius: rem(4);
    color: $white;
    display: inline-flex;
    margin-top: rem(16);
    padding: rem(4 8);
  }

  @media (min-width: $breakpoint-medium) {
    padding: rem(36 48);

    &__title {
      font-size: rem(18);
    }

    &__subtitle {
      font-size: rem(40);
    }

    &__balance {
      font-size: rem(24);
    }
  }
}
