.expense-group {
  &__alert {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out 0.25s;
    transition-timing-function: cubic-bezier(0.42, 0, 0, 1);

    & > * {
      left: -100%;
      position: relative;
      transition: all 0.25s ease-in-out;
      transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
    }

    &.is-active {
      height: rem(85);

      & > * {
        left: 0;
      }
    }
  }

  &__head {
    border-bottom: rem(1) solid $indigo-400;
    display: flex;
    flex-direction: column;
    margin: rem(0 0 20);
    padding-bottom: rem(8);
    text-align: center;
  }

  &__title {
    font-size: rem(25);
    font-weight: 500;

    span {
      display: block;
      font-size: rem(17);
      font-weight: 400;
    }
  }

  &__controls {
    flex-direction: row;
    justify-content: center;
    margin: rem(16 0 0);

    & > * + * {
      margin: rem(0 0 0 8);
    }

    a {
      align-items: center;
      background: $cyan-500;
      border-radius: 50%;
      color: $white;
      display: flex;
      font-size: rem(13);
      height: rem(36);
      justify-content: center;
      transition: background 0.2s linear;
      width: rem(36);

      &:hover {
        background: $cyan-600;
      }
    }

    button {
      border-radius: 50%;
      font-size: rem(18);
      height: rem(36);
      padding: 0;
      width: rem(36);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__expenses {
    flex: 1;
  }

  &__summary {
    flex: rem(250) 0 0;
    margin-left: rem(32);
    margin-top: rem(32);
    text-align: center;
  }

  &__budget-warning {
    background: $red-500;
    border-radius: rem(6);
    display: flex;
    margin: rem(4) auto 0;
    overflow: hidden;
    text-align: left;

    &__icon {
      align-items: center;
      background: $red-700;
      display: flex;
      padding: rem(8);

      svg {
        path {
          fill: $white;
        }
      }
    }

    &__text {
      color: $white;
      font-size: rem(13);
      padding: rem(8);
    }
  }

  &__confirm-delete-modal {
    background: $indigo-800;
    box-shadow: 0 0 rem(30) rgba(0, 0, 0, 0.3);
    color: $white;
    padding: rem(8);
    text-align: center;

    [class$='__close-button'] {
      display: none;
    }

    [class$='__title'] {
      flex: 1;
      text-align: center;
      text-transform: inherit;
    }
  }

  @media (min-width: $breakpoint-medium) {
    &__head {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }

    &__title {
      font-size: rem(32);

      span {
        font-size: rem(20);
      }
    }

    &__body {
      flex-direction: row;
    }

    &__summary {
      margin-top: 0;
    }
  }
}
