.atomikui-overlay.is-active {
  backdrop-filter: blur(8px) !important;
  background: rgba(0, 0, 0, 0.55);
}

.atomikui-switch__toggle {
  background: $indigo-800;
  margin: rem(4) auto;
}

.atomikui-switch.is-checked .atomikui-switch__toggle {
  background: $cyan-500;
}

.is-overdue .atomikui-switch .atomikui-switch__toggle {
  background: $red-800;
}

.atomikui-switch__toggle::after {
  box-shadow: none;
}

.atomikui-btn--indigo {
  background: $indigo-500;

  &:hover {
    background: $indigo-900;
  }
}

.atomikui-btn--white {
  box-shadow: inset 0 0 0 rem(1) $blue-gray-200;
}

.atomikui-statistic {
  display: flex;
}

.atomikui-statistic__value {
  font-weight: 500;
}

.atomikui-statistic__value.atomikui-statistic__value--number.atomikui-statistic__value--md {
  font-size: rem(28);
}

.atomikui-formfield__input,
.atomikui-formfield__textarea {
  background: $indigo-900;
  border-radius: rem(6);
  border: 0;
  color: $white;
  transition: all 0.15s linear;
}

.atomikui-formfield__input:not(:read-only):focus,
.atomikui-formfield__textarea:not(:read-only):focus {
  background: $indigo-900;
  border: none;
  box-shadow: 0 0 0 2px $indigo-400;
}

.atomikui-formfield.has-error > .atomikui-formfield__input,
.atomikui-formfield.has-error > .atomikui-formfield__textarea {
  border: rem(2) solid $red-500;
}

.atomikui-formfield.has-error > .atomikui-formfield__input:focus,
.atomikui-formfield.has-error > .atomikui-formfield__textarea:focus {
  background: lighten($red-50, 2%);
  box-shadow: none;
  border-bottom: rem(1.5) solid $red-800;
}

.atomikui-check-option__icon {
  background: $indigo-200;
}

.atomikui-check-option > input:checked + .atomikui-check-option__icon {
  background: $indigo-900;
  border-color: $indigo-900;
}

.atomikui-check-option > input:checked:focus + .atomikui-check-option__icon {
  box-shadow: 0 0 0 2px $indigo-400;
}

.atomikui-hint--error {
  color: $white;

  &::before {
    content: '!';
    background-color: $red-500;
    width: rem(15);
    height: rem(15);
    display: block;
    display: inline-flex;
    justify-content: center;
    border-radius: 50%;
    margin-right: rem(4);
  }
}

.atomikui-alert {
  border-radius: rem(6);
}

.atomikui-alert.atomikui-alert--error {
  background: $white;
  color: $red-700;

  svg {
    path {
      fill: $red-500;
    }
  }
}

.atomikui-alert.atomikui-alert--success {
  background: $green-50;
  color: $green-800;

  svg {
    path {
      fill: $green-800;
    }
  }
}

.atomikui-formfield__hints {
  margin-top: rem(6);

  &:empty {
    display: none;
  }
}
