.atomikui-switch__toggle {
  background: $blue-gray-100;
  margin: rem(4) auto;
}

.atomikui-switch.is-checked .atomikui-switch__toggle {
  background: $indigo-500;
}

.atomikui-btn--indigo {
  background: $indigo-500;

  &:hover {
    background: $indigo-800;
  }
}

.atomikui-statistic {
  display: flex;
}

.atomikui-statistic__value {
  font-weight: 500;
}
