.atomikui-switch__toggle {
  background: $blue-gray-100;
  margin: rem(4) auto;
}

.atomikui-switch.is-checked .atomikui-switch__toggle {
  background: $indigo-500;
}

.atomikui-btn--indigo {
  background: $indigo-500;

  &:hover {
    background: $indigo-800;
  }
}

.atomikui-btn--white {
  box-shadow: inset 0 0 0 rem(1) $blue-gray-200;
}

.atomikui-statistic {
  display: flex;
}

.atomikui-statistic__value {
  font-weight: 500;
}

.atomikui-statistic__value.atomikui-statistic__value--number.atomikui-statistic__value--md {
  font-size: rem(28);
}

.atomikui-formfield__input,
.atomikui-formfield__textarea {
  background-color: $white;
  border-bottom: rem(1.5) solid $blue-gray-100;
  border-radius: 0;
}

.atomikui-formfield__input:not(:read-only):focus,
.atomikui-formfield__textarea:not(:read-only):focus {
  background: lighten($cyan-50, 4%);
  box-shadow: none;
  border-bottom: rem(1.5) solid $cyan-500;
}

.atomikui-formfield.has-error > .atomikui-formfield__input,
.atomikui-formfield.has-error > .atomikui-formfield__textarea {
  border: 0;
  border-bottom: rem(1.5) solid $red-200;
}

.atomikui-formfield.has-error > .atomikui-formfield__input:focus,
.atomikui-formfield.has-error > .atomikui-formfield__textarea:focus {
  background: lighten($red-50, 2%);
  box-shadow: none;
  border-bottom: rem(1.5) solid $red-800;
}

.text-decoration-none {
  text-decoration: none;
}

.atomikui-alert.atomikui-alert--error {
  background: $red-50;
  color: $red-700;

  svg {
    path {
      fill: $red-700;
    }
  }
}

.atomikui-alert.atomikui-alert--success {
  background: $green-50;
  color: $green-800;

  svg {
    path {
      fill: $green-800;
    }
  }
}
