.masthead {
  align-items: center;
  background: $medium-navy;
  color: $white;
  display: flex;
  height: rem(65);
  justify-content: space-between;
  padding: rem(16);

  &__logo {
    align-items: center;
    display: flex;
    font-family: 'Saira Extra Condensed', Arial, Helvetica, sans-serif;
    font-size: rem(20);
    height: rem(36);
    text-transform: uppercase;
  }

  &__app-name {
    display: none;
    margin-left: rem(3);
  }

  &__utils {
    align-items: center;
    display: flex;

    & > * + * {
      margin-left: rem(16);
    }
  }

  &__date {
    border-left: rem(1) solid $blue-gray-800;
    font-size: rem(13);
    padding-left: rem(16);
  }

  &__nav {
    align-items: stretch;
    align-self: stretch;
    display: flex;

    &__nav {
      & > * {
        font-size: rem(14);
      }
    }

    & > * > * {
      align-items: center;
      background: transparent;
      border: 0;
      display: flex;
      font-weight: 600;
      height: 100%;
      margin-left: rem(16);
      text-decoration: none;

      svg {
        height: rem(24);

        path {
          fill: $white;
        }
      }

      &:hover,
      &:focus,
      &.active {
        svg {
          path {
            fill: $yellow;
          }
        }
      }

      &:focus {
        outline: 0;
      }
    }
  }

  @media (min-width: $breakpoint-medium) {
    &__app-name {
      display: block;
    }

    &__nav {
      & > * {
        font-size: rem(16);
      }
    }

    &__date {
      border-left: rem(1) solid $blue-gray-800;
      font-size: rem(16);
      padding: rem(16);
    }
  }
}
