.masthead {
  align-items: center;
  background: $teal-800;
  color: $white;
  display: flex;
  height: rem(65);
  justify-content: space-between;

  &__logo {
    align-items: center;
    background: no-repeat transparent 16px center/contain
      url('/static/images/budget.png');
    display: flex;
    font-size: rem(20);
    height: rem(36);
    padding-left: rem(62);
  }

  &__nav {
    align-items: stretch;
    align-self: stretch;
    display: flex;

    & > * {
      font-size: rem(16);
    }

    & > * > button {
      align-items: center;
      background: transparent;
      border: 0;
      color: $white;
      display: flex;
      font-size: rem(16);
      font-weight: 600;
      height: 100%;
      padding: rem(0 14);
      text-decoration: none;
      transition: all 0.2s linear;

      &:hover,
      &.active {
        background: $teal-500;
      }
    }
  }
}
