.expense-group-summary-card {
  align-items: center;
  background: $indigo-500;
  border-radius: rem(8);
  color: $white;
  display: flex;
  height: 100%;
  justify-content: space-between;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  transition: background 0.2s linear;

  &:hover {
    background: lighten($indigo-500, 4%);
  }

  &:focus {
    box-shadow: 0 0 0 rem(2) $indigo-200;
  }

  &__body {
    font-size: rem(20);
    padding: rem(20);
  }

  &__footer {
    align-items: center;
    align-self: stretch;
    background: $indigo-900;
    display: flex;
    padding: rem(0 16);
    transition: background 0.2s linear;

    svg {
      path {
        fill: $white;
      }
    }
  }

  &__title {
    border-bottom: rem(1) solid $indigo-300;
    font-size: rem(20);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: rem(4);
    padding-bottom: rem(4);
  }

  &__subtitle {
    font-size: rem(16);
  }

  &__tag {
    font-size: rem(13);
    display: flex;
    align-items: center;
    margin-bottom: rem(3);

    & > :first-child {
      margin-right: rem(4);
    }
  }

  &.has-overdue-expense {
    background: $red-500;

    .expense-group-summary-card__title {
      border-color: $red-200;
    }

    .expense-group-summary-card__footer {
      background: $red-700;
    }

    &:focus {
      box-shadow: 0 0 0 rem(2) $red-200;
    }

    &:hover {
      background: lighten($red-500, 4%);
    }
  }

  @media (min-width: $breakpoint-large) {
    &__title {
      font-size: rem(24);
    }

    &__subtitle {
      font-size: rem(17);
    }
  }
}
