.expense-group-summary-card {
  align-items: center;
  background: lighten($blue-gray-50, 1%);
  border-radius: rem(8);
  color: $blue-gray-900;
  display: flex;
  height: 100%;
  justify-content: space-between;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  transition: background 0.2s linear;

  &:hover {
    background: lighten($cyan-50, 1%);

    .expense-group-summary-card__footer {
      background: $indigo-900;
    }
  }

  &:focus {
    box-shadow: inset 0 0 0 rem(2) $indigo-700;
  }

  &__body {
    font-size: rem(20);
    padding: rem(20);
  }

  &__footer {
    align-items: center;
    align-self: stretch;
    background: $indigo-700;
    display: flex;
    padding: rem(0 16);
    transition: background 0.2s linear;

    svg {
      path {
        fill: $white;
      }
    }
  }

  &__title {
    border-bottom: rem(1) solid darken($blue-gray-100, 2%);
    color: $indigo-800;
    font-size: rem(22);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: rem(4);
    padding-bottom: rem(4);
    display: flex;
    align-items: center;
  }

  &__tag {
    color: $red-700;
    font-size: rem(13);
    margin-left: rem(16);
    flex: 1;
    white-space: nowrap;
    text-align: center;
  }

  &__subtitle {
    font-size: rem(16);
  }

  &.has-overdue-expense {
    background: $red-50;

    .expense-group-summary-card__title {
      border-color: darken($red-100, 2%);
    }

    .expense-group-summary-card__title,
    .expense-group-summary-card__subtitle {
      color: $red-700;
    }

    .expense-group-summary-card__footer {
      background: $red-700;
    }

    &:focus {
      box-shadow: inset 0 0 0 rem(2) $red-700;
    }

    &:hover {
      background: darken($red-50, 3%);

      .expense-group-summary-card__footer {
        background: $red-800;
      }
    }
  }

  @media (min-width: $breakpoint-large) {
    &__title {
      font-size: rem(28);
    }

    &__subtitle {
      font-size: rem(20);
    }
  }
}
